// ┌────────────────────────────────────────────────────────────────────────────┐
// │                           AUTOSTART SETTINGS                               │
// └────────────────────────────────────────────────────────────────────────────┘
// Documentation: https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

// ─── Startup Services & Applications ───
spawn-at-startup "noctalia"

