// ┌────────────────────────────────────────────────────────────────────────────┐
// │                       MISCELLANEOUS SETTINGS                               │
// └────────────────────────────────────────────────────────────────────────────┘
// Documentation: https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous

// ─── General Behavior ───
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// ─── Gestures ───
gestures {
    hot-corners {
        off
    }
}

// ─── Background Blur ───
blur {
    passes 2
    offset 3.0
    noise 0.03
    saturation 1.0
}

// ─── Environment Variables ───
environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_CURRENT_DESKTOP "niri"
    XDG_SESSION_TYPE "wayland"
}

// ─── Cursor Settings ───
cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 24
}

// ─── Debug & Specialized Logic ───
debug {
    honor-xdg-activation-with-invalid-serial
}

// ─── Notifications & UI ───
config-notification {
    disable-failed
}

hotkey-overlay {
   skip-at-startup
}

// ─── Recent Windows (Alt+Tab) ───
recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}

