@define-color borders_breeze #d0beb8;
@define-color content_view_bg_breeze #fff8f6;
@define-color error_color_backdrop_breeze #bf0031;
@define-color error_color_breeze #bf0031;
@define-color error_color_insensitive_backdrop_breeze #de5c75;
@define-color error_color_insensitive_breeze #de5c75;
@define-color insensitive_base_color_breeze #f9e7e1;
@define-color insensitive_base_fg_color_breeze #6b615e;
@define-color insensitive_bg_color_breeze #f9e7e1;
@define-color insensitive_borders_breeze #dccac4;
@define-color insensitive_fg_color_breeze #83726d;
@define-color insensitive_selected_bg_color_breeze #f9e7e1;
@define-color insensitive_selected_fg_color_breeze #83726d;
@define-color insensitive_unfocused_bg_color_breeze #f9e7e1;
@define-color insensitive_unfocused_fg_color_breeze #83726d;
@define-color insensitive_unfocused_selected_bg_color_breeze #f9e7e1;
@define-color insensitive_unfocused_selected_fg_color_breeze #83726d;
@define-color link_color_breeze #006496;
@define-color link_visited_color_breeze #9900cf;
@define-color success_color_backdrop_breeze #006a36;
@define-color success_color_breeze #006a36;
@define-color success_color_insensitive_backdrop_breeze #7b887a;
@define-color success_color_insensitive_breeze #7b887a;
@define-color theme_base_color_breeze #fff8f6;
@define-color theme_bg_color_breeze #f9e7e1;
@define-color theme_button_background_backdrop_breeze #f4e1dc;
@define-color theme_button_background_backdrop_insensitive_breeze #f9e7e1;
@define-color theme_button_background_insensitive_breeze #f9e7e1;
@define-color theme_button_background_normal_breeze #f4e1dc;
@define-color theme_button_decoration_focus_backdrop_breeze #8c4a30;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #a27c6c;
@define-color theme_button_decoration_focus_breeze #8c4a30;
@define-color theme_button_decoration_focus_insensitive_breeze #a27c6c;
@define-color theme_button_decoration_hover_backdrop_breeze #8c4a30;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #a27c6c;
@define-color theme_button_decoration_hover_breeze #8c4a30;
@define-color theme_button_decoration_hover_insensitive_breeze #a27c6c;
@define-color theme_button_foreground_active_backdrop_breeze #53433e;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #83726d;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #83726d;
@define-color theme_button_foreground_backdrop_breeze #231a16;
@define-color theme_button_foreground_backdrop_insensitive_breeze #6b615e;
@define-color theme_button_foreground_insensitive_breeze #6b615e;
@define-color theme_button_foreground_normal_breeze #231a16;
@define-color theme_fg_color_breeze #53433e;
@define-color theme_header_background_backdrop_breeze #f9e7e1;
@define-color theme_header_background_breeze #f9e7e1;
@define-color theme_header_background_light_breeze #f9e7e1;
@define-color theme_header_foreground_backdrop_breeze #53433e;
@define-color theme_header_foreground_breeze #53433e;
@define-color theme_header_foreground_insensitive_backdrop_breeze #53433e;
@define-color theme_header_foreground_insensitive_breeze #53433e;
@define-color theme_hovering_selected_bg_color_breeze #745549;
@define-color theme_selected_bg_color_breeze #8c4a30;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #231a16;
@define-color theme_titlebar_background_backdrop_breeze #f9e7e1;
@define-color theme_titlebar_background_breeze #f9e7e1;
@define-color theme_titlebar_background_light_breeze #f9e7e1;
@define-color theme_titlebar_foreground_backdrop_breeze #53433e;
@define-color theme_titlebar_foreground_breeze #53433e;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #53433e;
@define-color theme_titlebar_foreground_insensitive_breeze #53433e;
@define-color theme_unfocused_base_color_breeze #fff8f6;
@define-color theme_unfocused_bg_color_breeze #f9e7e1;
@define-color theme_unfocused_fg_color_breeze #53433e;
@define-color theme_unfocused_selected_bg_color_alt_breeze #e5bdb0;
@define-color theme_unfocused_selected_bg_color_breeze #e5bdb0;
@define-color theme_unfocused_selected_fg_color_breeze #53433e;
@define-color theme_unfocused_text_color_breeze #231a16;
@define-color theme_unfocused_view_bg_color_breeze #f9e7e1;
@define-color theme_unfocused_view_text_color_breeze #6b615e;
@define-color theme_view_active_decoration_color_breeze #ffdbce;
@define-color theme_view_hover_decoration_color_breeze #ffdbce;
@define-color tooltip_background_breeze #f9e7e1;
@define-color tooltip_border_breeze #c4b4ae;
@define-color tooltip_text_breeze #231a16;
@define-color unfocused_borders_breeze #d0beb8;
@define-color unfocused_insensitive_borders_breeze #dccac4;
@define-color warning_color_backdrop_breeze #964400;
@define-color warning_color_breeze #964400;
@define-color warning_color_insensitive_backdrop_breeze #9e7e67;
@define-color warning_color_insensitive_breeze #9e7e67;
